<nav id="wb-bc" property="breadcrumb" aria-label="breadcrumbnav">
  <h2>{{ site.data.i18n.general.head.youarehere[page.lang] }}:</h2>
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{{ site.baseurl }}{%- if page.lang == 'fr' -%}{% link _pages/fr/index.md %}{%- else -%}{% link _pages/en/index.md %}{%- endif -%}">{{ site.data.i18n.general.head.home[page.lang] }}</a></li>
      {%- if page.id -%}
      <li><a href="{{ site.baseurl }}{%- if page.lang == 'fr' -%}{% link _pages/fr/opportunites.md %}{%- else -%}{% link _pages/en/opportunities.md %}{%- endif -%}">{{ site.data.i18n.general.Opportunities[page.lang] }}</a></li>
      {%- endif -%}
      {%- if page.ref == "terms" -%}
      <li><a href="{{ site.baseurl }}{%- if page.lang == 'fr' -%}{% link _pages/fr/guide-utilisateur.md %}{%- else -%}{% link _pages/en/user-guide.md %}{%- endif -%}">{{ site.data.i18n.general.apply.guide[page.lang] }}</a></li>
      {%- endif -%}
    </ol>
  </div>
</nav>
