<!-- Can we make the how to apply section background and text a different colour? -->
<div class = "row">
    <div class="col-md-12 well">
       <h2>{{ site.data.i18n.general.apply.title[page.lang] }}</h2>
       <p>{{ site.data.i18n.general.apply.description[page.lang] }}</p>
        <p>{{ site.data.i18n.general.apply.checklist[page.lang] }}&nbsp;<a href="{{ site.baseurl }}{% link {{ site.data.i18n.general.apply.guide[page.lang].link }} %} }}">{{ site.data.i18n.general.apply.guide[page.lang].title }} </a>
            </p>
    </div>
</div>
