<!-- Can we make the how to apply section background and text a different colour? -->
<div class = "row">
    <div class="col-md-12" style="background-color: #F5F5F5; color: black; font:17px; border:solid; border-color:#DDDDDD; border-radius: 10px; border-width: thin; padding: 20px 10px">
       <h2 >{{ site.data.i18n.general.apply.title[page.lang] }}</h2>
       <p>{{ site.data.i18n.general.apply.description[page.lang] }}</p>
        <p>{{ site.data.i18n.general.apply.link[page.lang] }}</p>
    </div>
</div>
