<div class="container mrgn-tp-l mrgn-bttm-l">
    <div class="pageDetails">
      <div class="row">
        <div class="alert alert-warning" style="font-size:17px;">
          <p>
            {{ site.data.i18n.general.alert-close.text[page.lang] }}&nbsp;<a href="{{ site.data.i18n.general.alert-close.blog.[page.lang].link }}">{{ site.data.i18n.general.alert-close.blog.[page.lang].title }}</a>
            {{ site.data.i18n.general.alert-close.text2[page.lang] }}&nbsp;<a href="{{ site.data.i18n.general.alert-close.report.[page.lang].link }}">{{ site.data.i18n.general.alert-close.report.[page.lang].title }}</a>. {{ site.data.i18n.general.alert-close.thankyou[page.lang] }}
          </p>
        </div>
      </div>
    </div>
  </div>
  