section.stretch-panel {
  width: 100%;
  background-color: #EDEDED;
  padding: 30px 0;
}

div.container ul.gliph-list {
  list-style: none;
  text-indent: -45px;
  margin-left:100px;
}

li span.glyphicon {
  font-size: 2em;
  margin: 0 4rem 1rem 0;
}

h1.home {
  font-size: 50px;
  border-bottom: none;
}

h2.gc-thickline {
  font-size: 40px
}

h2.provisional.gc-thickline::after {
    border-bottom: .18em solid #af3c43 !important;
    content: "" !important;
    display: block !important;
    padding-bottom: 8px !important;
    width: 70px !important;
}

div.container {
  overflow-wrap: anywhere !important;
}
a.card-link:link {
  color:#fff !important;
}
a.card-link:visited {
  color:#fff !important;
}
a.card-link:hover {
  color:#000 !important;
}
a.card-link:active {
  color:#000 !important;
}

.card-header {
  padding: 1.2rem 2rem;
  margin-bottom: 0;
  margin-top: 0;
  background:#777;
}