<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
    <html class="no-js" lang="{{ page.lang }}" dir="ltr">
    <!--<![endif]-->
    {% include head.html %}
    <body vocab="http://schema.org/" typeof="WebPage" class="page-{{ page.ref }}">
    {% include header.html %}
    <h1>{{ page.title }}</h1>

    <div class="row">
    <div class="col-md-4">
    <b>{{ site.data.i18n.general.opportunities.status[page.lang] }} : </b>{{ page.status }}</div>
    <div class="col-md-8">
    <!-- If status is closed, the label for the closing date should be 'Closed:' rather than 'Closing:' -->
        {%- if post.status == "Open" or post.status == "Ouvert" -%}
    <b>{{ site.data.i18n.general.opportunities.closing[page.lang] }} : </b>{{ page.closing_date }}</div>
    {%- else -%}
    <b>{{ site.data.i18n.general.opportunities.closed[page.lang] }} : </b>{{ page.closing_date }}</div>
  {%- endif -%}

    </div>
<br>
    <p>{{ page.short_desc}}</p>
    <hr>
    <h2>{{ site.data.i18n.general.opportunities.details[page.lang] }}</h2>
    <b>{{ site.data.i18n.general.opportunities.skills[page.lang] }}:</b>{{ page.skills }}
<!-- Commenting this out for now replaced with div instead of table and removed unnecessary fields
    <table style="width:100%">
        <tr>
            <td><b>{{ site.data.i18n.general.opportunities.status[page.lang] }}:</b></td>
            <td>{{ page.status }}</td>
            <td><b>{{ site.data.i18n.general.opportunities.closing[page.lang] }}:</b></td>
            <td>{{ page.closing }}</td>
        </tr>
        <tr>
            <td><b>{{ site.data.i18n.general.opportunities.department[page.lang] }}:</b></td>
            <td>{{ page.department }}</td>
            <td><b>{{ site.data.i18n.general.opportunities.team[page.lang] }}:</b></td>
            <td>{{ page.team }}</td>
            <td><b>{{ site.data.i18n.general.opportunities.email[page.lang] }}:</b></td>
            <td><a href="mailto:{{ page.email }}">{{ page.email }}</a></td>
        </tr>
        <tr>
            <td><b>{{ site.data.i18n.general.opportunities.skills[page.lang] }}:</b></td>
            <td>{{ page.skills }}</td>
        </tr>
        <tr>

        </tr>
        <tr>
            <td><b>{{ site.data.i18n.general.opportunities.value[page.lang] }}:</b></td>
            <td>{{ page.value }}</td>
        </tr>
    </table> -->

    <p>{{ content }}</p>

    {% include howtoapply.html %}

    <i>{{ site.data.i18n.general.opportunities.last_modified[page.lang] }} {{ page.last_modified }}</i>

    {% include footer.html %}
    </body>
    
    </html>
    