<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ page.lang }}" dir="ltr">
    <!--<![endif]-->
    {% include head.html %}
    <body vocab="http://schema.org/" typeof="WebPage" class="page-{{ page.ref }}">
    {% include header.html %}
    <div class="container" id="wb-cont">
        <h1>{{ page.title }}</h1>

        {%- capture nowXML -%}{{ 'now' | date_to_xmlschema }}{%- endcapture -%}
        {%- capture closeXML -%}{{ page.closing_date | date_to_xmlschema }}{%- endcapture -%}
        {%- assign closeDate = page.closing_date | date: "%e %B %Y %H:%M" -%}
        {%- if page.lang == "fr" -%}
            {% include replaceFrenchMonth.html %}
        {%- endif -%}

        <p><b>
            {%- if closeXML > nowXML -%}
                <span class="label label-success">{{ site.data.i18n.general.opportunities.open[page.lang] }}</span>
                {%- assign update = page.update -%}
                {% if update != nil %}
                <span class="label label-info">{{ site.data.i18n.general.opportunities.updated[page.lang] }}</span>
                {% endif %}
                &nbsp;{{ site.data.i18n.general.opportunities.closing[page.lang] }}:&nbsp;{{ closeDate }}, {{ site.data.i18n.general.opportunities.easternTime[page.lang] }}
            {%- else -%}
                <span class="label label-danger">{{ site.data.i18n.general.opportunities.closed[page.lang] }}</span>&nbsp;{{ closeDate }}, {{ site.data.i18n.general.opportunities.easternTime[page.lang] }}
            {%- endif -%}
        </b></p>
        <hr/>
        <p>{{ page.short_desc}}</p>
        <hr/>
        <h2>{{ site.data.i18n.general.opportunities.details[page.lang] }}</h2>
        <p><b>{{ site.data.i18n.general.opportunities.value[page.lang] }}:</b>&nbsp;{{ page.value }}</p>
        <p><b>{{ site.data.i18n.general.opportunities.startdate[page.lang] }}:</b>&nbsp;{{ page.start_date }}</p>
        <p><b>{{ site.data.i18n.general.opportunities.deliverydate[page.lang] }}:</b>&nbsp;{{ page.delivery_date | date: "%Y-%m-%d %H:%M" }}, {{ site.data.i18n.general.opportunities.easternTime[page.lang] }}</p>
        <p><b>{{ site.data.i18n.general.opportunities.skills[page.lang] }}:</b>{{ page.skills }}</p>

        {{ content }}
       
        {%- if closeXML > nowXML -%}
            {% include howtoapply.html %}
        {%- endif -%}

        <i>{{ site.data.i18n.general.opportunities.last_modified[page.lang] }} {{ page.last_modified }}</i>
    </div>
    {% include pre-footer.html %}
    {% include footer.html %}
    </body>
</html>
    