<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
    <html class="no-js" lang="{{ page.lang }}" dir="ltr">
    <!--<![endif]-->
    {% include head.html %}
    <body vocab="http://schema.org/" typeof="WebPage" class="page-{{ page.ref }}">
    {% include header.html %}
    <h1>{{ page.title }}</h1>

    <table style="width:100%">
        <tr>
            <td><b>{{ site.data.i18n.general.opportunities.department[page.lang] }}:</b></td>
            <td>{{ page.department }}</td>
            <td><b>{{ site.data.i18n.general.opportunities.manager[page.lang] }}:</b></td>
            <td>{{ page.manager }}</td>
        </tr>
        <tr>
            <td><b>{{ site.data.i18n.general.opportunities.team[page.lang] }}:</b></td>
            <td>{{ page.team }}</td>
            <td><b>{{ site.data.i18n.general.opportunities.email[page.lang] }}:</b></td>
            <td><a href="mailto:{{ page.email }}">{{ page.email }}</a></td>
        </tr>
        <tr>
            <td><b>{{ site.data.i18n.general.opportunities.skills[page.lang] }}:</b></td>
            <td>{{ page.skills }}</td>
            <td><b>{{ site.data.i18n.general.opportunities.phone[page.lang] }}:</b></td>
            <td>{{ page.phone }}</td>
        </tr>
        <tr>
            <td><b>{{ site.data.i18n.general.opportunities.status[page.lang] }}:</b></td>
            <td>{{ page.status }}</td>
        </tr>
        <tr>
            <td><b>{{ site.data.i18n.general.opportunities.value[page.lang] }}:</b></td>
            <td>{{ page.value }}</td>
        </tr>
    </table>

    <p>{{ content }}</p>

    <i>{{ site.data.i18n.general.opportunities.last_modified[page.lang] }} {{ page.last_modified }}</i>

    {% include footer.html %}
    </body>
    
    </html>
    